AWS_ACCESS_KEY_ID_ENV_KEY=dummyy
AWS_SECRET_ACCESS_KEY_ENV_KEY=dummy
REGION_NAME=region
DATABASE_NAME=db_name_mongodb
MONGODB_URI_KEY=mongodb+srv://useid:pass@clusterai.5di8rsk.mongodb.net/?appName=clusterai

